.features {
	padding-top: 94px;
	padding-bottom: 94px;

	&_list {
		display: flex;
		gap: 30px;
		background-color: var(--main-title-color);
	}
	&_icon {
		width: 270px;
		height: 120px;
		background: var(--color-fon);
		border-radius: 4px;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&_title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--color-titles);
		margin-top: 0;
		margin-bottom: 10px;
	}
	&_text {
		font-weight: 400;
		line-height: 1.7;
		color: var(--color-text);
	}
}
